
.heroBanner {
  padding: 5.5rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #242424;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons a {
  margin: 0 6px;
}

@media screen and (max-width: 580px) {
  .heroBanner {
    padding: 2rem;
  }

  .buttons {
    flex-direction: column;
  }

  .buttons a:not(:last-child) {
    margin: 0 0 12px 0;
  }
}

html[data-theme=dark] {
  --docsearch-searchbox-focus-background: #0e0e0e;
}